.post-content pre code {
    display: block;
    margin: auto 0;
    padding: 10px;
    /* Color of main code */
    color: #abb2bf;
    font-weight: 200;
    overflow-x: auto;
    word-break: break-all;
}

.post-content .highlight pre {
    background-color: var(--theme) !important;
    margin: 0;
}
